php_flag magic_quotes_gpc Off

AddDefaultCharset utf-8

DirectoryIndex index.php

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !favicon.ico

RewriteRule ^(.*) index.php

php_value upload_max_filesize 64M

php_value post_max_size 64M

php_value max_execution_time 300